* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}



main {
  display: flex;
}

.timer {
  display: grid;
}

.sounds {
  display: grid;
}

.hide {
  display: none;
}